<article id="user">
  <header>
    <%= profile_image_for(@user) %>
    <h1><%= @user.name %><small>(aka <%= @user.username %>)</small></h1>
    <h2><%= @user.email %></h2>
    <h3>Member since: <%= @user.member_since %></h3>
  </header>
  <footer>
    <nav>
      <%= link_to "Edit Account", edit_user_path(@user), class: "button" %>
      <%= link_to "Delete Account", @user, method: :delete, data: {confirm: "Are you sure?"}, class: "button" %>
    </nav>
  </footer>
</article>